# Final Project: Black Friday Excel Data

In [ ]:
import openpyxl as xl

# pprint prints dictionaries a bit more nicely than print
from pprint import pprint

## Part 1

First, read in maven_ski_shop_data.xlsx

Then, assign the orders worksheet to an intuitive variable name.

In [ ]:
# import the excel data 
shop_data = xl.load_workbook('maven_ski_shop_data.xlsx')

# check sheet names 
shop_data.sheetnames

orders = shop_data['Orders_Info']

### Column Printer Function

Since we'll be working with Excel frequently, let's create a helper function to print all the rows a specified column.

This will help us view imported data without looking at Excel, and review the data we've written into columns without needing to save a file to review the changes.

Your function should take two arguments:

* Worksheet where data is located
* Column Letter of data to print

Your function should:

* Print Cell Coordinate (e.g. A1, D4).
* Print the contents of the cell.

Then call your function twice:

* Once to print Order ID (column A in 'Orders_Info')
* Once to print subtotal (column D in 'Orders_Info')

In [ ]:
# preview the printing of column
for row in range(1, orders.max_row +1):
        print(orders['A' + f'{row}'].value)

In [ ]:
# creating the column printer funciton 
def column_printer(sheet, column):
    for row in range(1, sheet.max_row +1):
        print(f'{column}{row}', sheet[column + f'{row}'].value)

In [ ]:
column_printer(orders, 'A')

### Order Data Dictionary

Create a dictionary with all of the information contained in the 'Orders_Info' Worksheet.

* The dictionary keys should be Order IDs (Column A)
* The values should a list storing the data in the rest of the columns.
* The columns in the list stored as values should be B, C, D, G, and H (after converting to list). 
* For example: The first order, column H should be the nested list: [10001, 10002]


A few notes:

* Convert the Items_Ordered field into a list (we covered a helpful string method for this)
* This can be done with a dictionary comprehension
* DO NOT INCLUDE EXCEL COLUMN HEADERS

In [ ]:
# create a function that can create a list from the columns
def column_list(sheet, column):
    list = []
    for row in range(2, sheet.max_row +1):
        list.append(sheet[column + f'{row}'].value)
    return list

In [ ]:
# create lists so that we can create the dictionaries 
order_ids = column_list(orders, 'A')
customer_ids = column_list(orders, 'B')
order_dates = column_list(orders, 'C')
subtotals = column_list(orders, 'D')
locations = column_list(orders, 'G')
items_ordered_wrong = column_list(orders, 'H')

In [ ]:
items_ordered = []
for items in items_ordered_wrong:
    items_ordered.append(str(items).split(', '))
items_ordered

In [ ]:
order_dict = {
    order_ids: {'id': customer_ids, 'date': order_dates, 'subtotal': subtotals, 'location': locations, 'items_ordered': items_ordered}
    for order_ids, customer_ids, order_dates, subtotals, locations, items_ordered in zip(
    order_ids, customer_ids, order_dates, subtotals, locations, items_ordered
    )
}

pprint(order_dict)

In [ ]:
order_dict_maven = {
    orders[f'A{order}'].value:[
        orders[f'B{order}'].value,
        orders[f'C{order}'].value,
        orders[f'D{order}'].value,
        orders[f'G{order}'].value,
        orders[f'H{order}'].value
        ]
        for order in range(2, orders.max_row + 1)
}

In [ ]:
order_dict_maven = {
    orders[f'A{order}'].value:[
        orders[f'B{order}'].value,
        orders[f'C{order}'].value,
        orders[f'D{order}'].value,
        orders[f'G{order}'].value,
        str(orders[f'H{order}'].value).split(', ')
        ]
        for order in range(2, orders.max_row + 1)
}

In [66]:
pprint(order_dict_maven)

{100000: ['C00004', '11/26/2021', 15.98, 'Sun Valley', ['10001', '10002']],
 100001: ['C00007', '11/26/2021', 899.97, 'Stowe', ['10008', '10009', '10010']],
 100002: ['C00015',
          '11/26/2021',
          799.97,
          'Mammoth',
          ['10011', '10012', '10013']],
 100003: ['C00016',
          '11/26/2021',
          117.96,
          'Stowe',
          ['10002', '10003', '10004', '10006']],
 100004: ['C00020', '11/26/2021', 5.99, 'Sun Valley', ['10001']],
 100005: ['C00010', '11/26/2021', 599.99, 'Mammoth', ['10010']],
 100006: ['C00006', '11/26/2021', 24.99, 'Mammoth', ['10004']],
 100007: ['C00001',
          '11/26/2021',
          1799.94,
          'Mammoth',
          ['10008', '10008', '10009', '10009', '10009', '10010', '10010']],
 100008: ['C00003', '11/26/2021', 99.99, 'Sun Valley', ['10005']],
 100009: ['C00014',
          '11/26/2021',
          254.95,
          'Sun Valley',
          ['10002', '10003', '10004', '10006', '10007']],
 100010: ['C00001', '11/26/2021', 29.98, 'Mammoth', ['10002', '10003']],
 100011: ['C00001', '11/26/2021', 99.99, 'Mammoth', ['10005']],
 100012: ['C00005', '11/26/2021', 25.98, 'Sun Valley', ['10001', '10003']],
 100013: ['C00008', '11/26/2021', 649.98, 'Stowe', ['10012', '10013']],
 100014: ['C00013', '11/26/2021', 89.99, 'Sun Valley', ['10014']],
 100020: ['C00004', '11/27/2021', 119.99, 'Sun Valley', ['10007']],
 100021: ['C00017', '11/27/2021', 599.99, 'Stowe', ['10010']],
 100022: ['C00019', '11/27/2021', 649.98, 'Sun Valley', ['10012', '10013']],
 100023: ['C00002', '11/27/2021', 24.99, 'Stowe', ['10004']],
 100024: ['C00008', '11/27/2021', 99.99, 'Stowe', ['10005']],
 100025: ['C00021', '11/27/2021', 99.99, 'Mammoth', ['10008']],
 100026: ['C00022', '11/27/2021', 5.99, 'Sun Valley', ['10001']],
 100027: ['C00006', '11/28/2021', 24.99, 'Mammoth', ['10002']],
 100031: ['C00018',
          '11/28/2021',
          999.96,
          'Stowe',
          ['10005', '10008', '10009', '10010']],
 100032: ['C00018', '11/28/2021', 99.99, 'Stowe', ['10006']],
 100033: ['C00010',
          '11/28/2021',
          399.97,
          'Mammoth',
          ['10005', '10008', '10009']],
 100034: ['C00016', '11/28/2021', 89.99, 'Stowe', ['10014']]}

### Sales Tax Calculation (Last time!)

We need to calculate the sales tax and total amount owed for every order in this sheet.

* If location is Sun Valley, apply a sales tax of 8%
* If location is Mammoth, apply a sales tax of 7.75%.
* If location is Stowe, apply a sales tax of 6%

Use the tax_calculator function to apply sales tax to each subtotal.

**Insert** the calculated sales tax and total amounts into your customer dictionary immediately after subtotal.

**Tip**: Figure out how to do this once and then loop through the column.

In [ ]:
import tax_calculator as tx

In [79]:
# figure out how to iterate through the dictionary (unpack)
for order in order_dict.values():
    if order['location'] == 'Sun Valley':
        print(str(order['subtotal'])+ ' in ' + str(order['location']) + ' has a tax of 8%')
    elif order['location'] == 'Mammoth':
        print(str(order['subtotal'])+ ' in ' + str(order['location']) +  ' has a tax of 7.75%')
    elif order['location'] == 'Stowe':
         print(str(order['subtotal'])+ ' in ' + str(order['location']) +  ' has a tax of 6%')

15.98 in Sun Valley has a tax of 8%
5.99 in Sun Valley has a tax of 8%
99.99 in Sun Valley has a tax of 8%
254.95 in Sun Valley has a tax of 8%
25.98 in Sun Valley has a tax of 8%
89.99 in Sun Valley has a tax of 8%
119.99 in Sun Valley has a tax of 8%
649.98 in Sun Valley has a tax of 8%
5.99 in Sun Valley has a tax of 8%

In [90]:
# using maven to calc tax
tax_calc_maven = []

for order in order_dict_maven.values():
    if order[3] == 'Sun Valley':
         tax_calc_maven.append(tx.tax_calculator(order[2], .08))
    if order[3] == 'Mammoth':
         tax_calc_maven.append(tx.tax_calculator(order[2], .775))
    if order[3] == 'Stowe':
         tax_calc_maven.append(tx.tax_calculator(order[2], .06))

In [89]:
# figure out how to use the tax_calc funtion with dictionary 
tax_calc = []

for order in order_dict.values():
    if order['location'] == 'Sun Valley':
         tax_calc.append(tx.tax_calculator(order['subtotal'], .08))
    if order['location'] == 'Mammoth':
         tax_calc.append(tx.tax_calculator(order['subtotal'], .775))
    if order['location'] == 'Stowe':
         tax_calc.append(tx.tax_calculator(order['subtotal'], .06))

In [88]:
# create a list for the tax based off extracting tax_calc data
taxes = []
for items in tax_calc:
    taxes.append(items[1])

In [87]:
# create a list for the tax based off extracting tax_calc_maven data
taxes_maven = []
for items in tax_calc_maven:
    taxes_maven.append(items[1])

totals_maven = []
for items in tax_calc:
    totals_maven.append(items[2])

In [ ]:
# create a list for the total based off extracting tax_calc data
totals = []
for items in tax_calc:
    totals.append(items[2])
totals

In [ ]:
# pprint(order_dict)

### Write Sales Tax and Total Into the Excel Sheet


Great job! Now we just need to write this data into the workbook.

Write the sales tax and total you just calculated into the workbook, then save!

Call this workbook 'maven_ski_shop_data_fixed'.

**Tip:** There are a few ways to do this. As always, be patient, solve one step at a time.

In [ ]:
# orders.delete_cols(idx = 5)

In [91]:
tax_calc[1][1]

54.0

In [ ]:
taxes[0]

In [99]:
orders['E1'].value = 'Tax'

for i, cell in enumerate(orders['E']):
    if i < 27:
        orders[f'E{i + 2}'].value = taxes[i]
        
column_printer(orders, 'E')

E1 Tax
E2 1.28
E3 54.0
E4 619.98
E5 7.08
E6 0.48
E7 464.99
E8 19.37
E9 1394.95
E10 8.0
E11 20.4
E12 23.23
E13 77.49
E14 2.08
E15 39.0
E16 7.2
E17 9.6
E18 36.0
E19 52.0
E20 1.5
E21 6.0
E22 77.49
E23 0.48
E24 19.37
E25 60.0
E26 6.0
E27 309.98
E28 5.4

In [100]:
orders['E1'].value = 'Total'

for i, cell in enumerate(orders['E']):
    if i < 27:
        orders[f'F{i + 2}'].value = totals[i]
        
column_printer(orders, 'F')

F1 Total
F2 17.26
F3 953.97
F4 1419.95
F5 125.04
F6 6.47
F7 1064.98
F8 44.36
F9 3194.89
F10 107.99
F11 275.35
F12 53.21
F13 177.48
F14 28.06
F15 688.98
F16 97.19
F17 129.59
F18 635.99
F19 701.98
F20 26.49
F21 105.99
F22 177.48
F23 6.47
F24 44.36
F25 1059.96
F26 105.99
F27 709.95
F28 95.39

In [92]:
shop_data.save('maven_ski_shop_data_fixed.xlsx')

In [94]:
orders

TypeError: 'generator' object is not callable

## Part 2

### Analysis Time!


Now that we've fixed the data - it's time to perform analysis on our sales.

Our starting point will be the order_dict we created, after we added the taxes and totals columns.

Our first step will be to write a function that calculates the sum of a 'column' of data in our dictionary.

A 'column' for example, would be subtotals, which is at index 2 in the list stored as our dictionary values.

Your function should take the following arguments:

* Column Index (the index of the data of interest in the list stored in our dictionary values)
* Dictionary Name

It should output:

* The sum of values in the column (rounded to two decimal places)

Assume only numeric values will be in the column (You can develop cleaning logic later :D)

**Tip:** Use a list comprehension to retrieve the values of interest.

In [112]:
order_dict2 = {
    order_ids: {'customer_id': customer_ids, 'date': order_dates, 'subtotals': subtotals,
                'taxes': taxes, 'totals': totals,
                'location': locations, 'items_ordered': items_ordered,
               }
    for order_ids, customer_ids, order_dates, subtotals, taxes, totals, locations, items_ordered in zip(
    order_ids, customer_ids, order_dates, subtotals, taxes, totals, locations, items_ordered
    )
}

In [103]:
order_dict_maven_2 = {
    orders[f'A{order}'].value:[
        orders[f'B{order}'].value,
        orders[f'C{order}'].value,
        orders[f'D{order}'].value,
        orders[f'E{order}'].value,
        orders[f'F{order}'].value,
        orders[f'G{order}'].value,
        str(orders[f'H{order}'].value).split(', ')
        ]
        for order in range(2, orders.max_row + 1)
}

In [104]:
order_dict_maven_2[100001]

['C00007',
 '11/26/2021',
 899.97,
 54.0,
 953.97,
 'Stowe',
 ['10008', '10009', '10010']]

In [ ]:
for order in order_dict2.values():
       print(order['subtotals'])

In [108]:
def column_sum(col_name, dictionary_name):
    list = []
    for orders in dictionary_name.values():
        list.append(orders[col_name])
    return round(sum(list), 2)

In [105]:
def column_sum_maven(col_index, dictionary):
    list = []
    for orders in dictionary.values():
        list.append(orders[col_index])
    return round(sum(list), 2)

In [113]:
column_sum('subtotals', order_dict2)

8731.47

In [114]:
column_sum_maven(2, order_dict_maven_2)

8731.47

#### Sum The Subtotal, Tax, and Total Columns 

Now that we have our column sum function, calculate the sum of:

* Subtotals
* Taxes
* Totals

In [115]:
print(column_sum('subtotals', order_dict2))
print(column_sum('taxes', order_dict2))
print(column_sum('totals', order_dict2))

8731.47
3323.35
12054.82

In [116]:
print(column_sum_maven(2, order_dict_maven_2))
print(column_sum_maven(3, order_dict_maven_2))
print(column_sum_maven(4, order_dict_maven_2))

8731.47
3323.35
12054.82

### What is the average of our subtotals?

Calculate the average value of our transactions.

Remember that each entry in your dictionary is one order.

In [117]:
avg_subtotals = round(column_sum('subtotals', order_dict2) / len(column_list(orders, 'D')), 2)
avg_subtotals

323.39

### How many unique customers did we have?

Calculate the total number of unique customers in our sales data.

Then calculate the number of orders per customer (total orders / unique customers)

In [123]:
len({order[0] for order in order_dict_maven_2.values()}) # what the fuck!

19

In [124]:
unique_cust = set(column_list(orders, 'B'))

len(unique_cust)

19

In [135]:
orders_per_cust = round(len(order_dict_maven_2) / len(unique_cust), 2)
orders_per_cust

1.42

### How many items in total did we sell?

Calculate the total number of items we sold in across all orders. 

This information is in Column H, which should be the last element in order_dict's values.

In [ ]:
# orders nested in lists were strings but sperated by commaas
# had to turn list into string, then split them by comma and then create a new list 
# can implement a data validation step that will chec to see if nested lists or nested lists in dictionaries are properly read in
# can put this fiz at the very beginning of the notebook 
items_ordered_fixed = []
for items in items_ordered:
    items_ordered_fixed.append(str(items).split(','))
items_ordered_fixed

In [134]:
total_items = []
for items in items_ordered:
    for item in items:
        total_items.append(item)
len(total_items)

54

In [142]:
total_items_maven = 0
for order in order_dict_maven_2.values():
    total_items_maven += len(order[6])
total_items_maven

54

In [160]:
sum(len(order[6]) for order in order_dict_maven_2.values())

54

### Sales By Location

Calculate the sum of subtotals by location.

Create a dictionary to store them, where location is the key, and revenue for that location is the value.

A few steps to consider:

* Loop through your dictionary
* build a dictionary as you go with location as key
* increment revenue every time a transaction matches the location.


Your output should look like 
{'Location1': sum of subtotals for 'Location1'}

With an entry for each location.

In [144]:
sun_valley_totals = [] 
stowe_totals = []
mammoth_totals = []

for order in order_dict2.values():
    if order['location'] == 'Sun Valley':
        sun_valley_totals.append(order['subtotals'])
    elif order['location'] == 'Stowe':
        stowe_totals.append(order['subtotals'])
    elif order['location'] == 'Mammoth':
        mammoth_totals.append(order['subtotals'])
        
sun_sum = round(sum(sun_valley_totals), 2)
stowe_sum = round(sum(stowe_totals), 2)
mammoth_sum = round(sum(mammoth_totals), 2)

sales_dict = {
    'Sun Valley' : sun_sum, 'Stowe' : stowe_sum, 'Mammoth' : mammoth_sum
}

print(sales_dict)

{'Sun Valley': 1268.84, 'Stowe': 3582.82, 'Mammoth': 3879.81}

In [163]:
total_sales_by_location = {}
sun_tot = 0
sto_tot = 0
mam_tot = 0

for order in order_dict2.values():
    if order['location'] == 'Sun Valley':
        sun_tot += order['subtotals']
        total_sales_by_location['Sun Valley'] = round(sun_tot, 2)
    elif order['location'] == 'Stowe':
        sto_tot += order['subtotals']
        total_sales_by_location['Stowe'] = round(sto_tot, 2)
    elif order['location'] == 'Mammoth':
        mam_tot += order['subtotals']
        total_sales_by_location['Mammoth'] = round(mam_tot, 2)

total_sales_by_location

{'Sun Valley': 1268.84, 'Stowe': 3582.82, 'Mammoth': 3879.81}

In [154]:
for order in order_dict_maven_2.values():
    print(order[2], order[5])

15.98 Sun Valley
899.97 Stowe
799.97 Mammoth
117.96 Stowe
5.99 Sun Valley
599.99 Mammoth
24.99 Mammoth
1799.94 Mammoth
99.99 Sun Valley
254.95 Sun Valley
29.98 Mammoth
99.99 Mammoth
25.98 Sun Valley
649.98 Stowe
89.99 Sun Valley
119.99 Sun Valley
599.99 Stowe
649.98 Sun Valley
24.99 Stowe
99.99 Stowe
99.99 Mammoth
5.99 Sun Valley
24.99 Mammoth
999.96 Stowe
99.99 Stowe
399.97 Mammoth
89.99 Stowe

In [169]:
total_sales_by_location_maven = {}
sun_tot = 0
sto_tot = 0
mam_tot = 0

for order in order_dict_maven_2.values():
    if order[5] == 'Sun Valley':
        sun_tot += order[2]
        total_sales_by_location_maven['Sun Valley'] = round(sun_tot, 2)
    elif order[5] == 'Stowe':
        sto_tot += order[2]
        total_sales_by_location_maven['Stowe'] = round(sto_tot, 2)
    elif order[5] == 'Mammoth':                       
        mam_tot += order[2]
        total_sales_by_location_maven['Mammoth'] = round(mam_tot, 2)       
total_sales_by_location_maven

{'Sun Valley': 1268.84, 'Stowe': 3582.82, 'Mammoth': 3879.81}

In [171]:
location_sums = {}

for data in order_dict_maven_2.values():
    location = data[5]
    if location not in location_sums:
        location_sums[location] = 0
    location_sums[location] += data[2]
location_sums

{'Sun Valley': 1268.84,
 'Stowe': 3582.8199999999993,
 'Mammoth': 3879.8099999999995}

In [225]:
location_sums2 = {}

for data in order_dict_maven_2.values():
    location = data[5]
    location_sums2[location] = location_sums2.get(location, 0) + data[2]
location_sums2

{'Sun Valley': 1268.84,
 'Stowe': 3582.8199999999993,
 'Mammoth': 3879.8099999999995}

### Challenge: Aggregator Function

Now that you've summed revenue by category (you just summed by location), can you write a function to generalize calculating a sum of a column, grouped by the unique values in another column? (for example, sum of totals by date or customer_id).

Your function should take the following arguments:
* index of the 'column' (index position in order_dict) to group by
* index of the 'column' (index position in order_dict) to sum by category
* the dictionary where the data is located (assume the same structure as order_dict.

It should return:
* A dictionary with the categories as keys, and the sum by category as value.

Once you've done so use your function to sum totals by date and customer_id.

In [250]:
def aggregator(group_index, sum_index, dictionary):
    sum_dict = {}
    
    for data in dictionary.values():
        group = data[group_index]
        if group not in sum_dict:
            sum_dict[group] = 0
        sum_dict[group] += round(data[sum_index], 2)
    return sum_dict

In [249]:
def aggregator2(group_index, sum_index, dictionary):
    sum_dict2 = {}
    
    for data in dictionary.values():
        group = data[group_index]
        sum_dict2[group] = sum_dict2.get(group, 0) + data[sum_index]
    return sum_dict2

In [253]:
# index 1 = date, index 4 = total
aggregator(1, 4, order_dict_maven_2)

{'11/26/2021': 8255.18, '11/27/2021': 1783.99, '11/28/2021': 2015.65}

In [246]:
# index 0 = customer_id
aggregator(0, 4, order_dict_maven_2)

{'C00004': 146.85,
 'C00007': 953.97,
 'C00015': 1419.95,
 'C00016': 220.43,
 'C00020': 6.47,
 'C00010': 1774.93,
 'C00006': 88.72,
 'C00001': 3425.58,
 'C00003': 107.99,
 'C00014': 275.35,
 'C00005': 28.06,
 'C00008': 794.97,
 'C00013': 97.19,
 'C00017': 635.99,
 'C00019': 701.98,
 'C00002': 26.49,
 'C00021': 177.48,
 'C00022': 6.47,
 'C00018': 1165.95}

In [247]:
aggregator(5, 2, order_dict_maven_2)

{'Sun Valley': 1268.84,
 'Stowe': 3582.8199999999993,
 'Mammoth': 3879.8099999999995}